<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	 <link rel="stylesheet" href="/css/bootstrap.min.css">
	 <link rel="stylesheet" type="text/css" href="/css/style.css">


</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">

  	
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      	<button class="dropbtn"><a href="/home">Home</a></button>
      	<button class="dropbtn"><a href="/home/system">Build Your System </a></button>
      	<div class="dropdown">
  			<button class="dropbtn">Product</button>
  			<div class="dropdown-content">
    			<a href="../component/processor">Processor</a>
    			<a href="../component/motherboard">Motherboard</a>
   				<a href="../component/storage">Hard Disk</a>
   				<a href="../component/memory">Memory</a>
    			<a href="../component/case">Case</a>
   				<a href="../component/powersupply">Power Supply</a>
   				<a href="../component/videocard">Graphics Card</a>
    			<a href="../component/casefan">CPU Cooler</a>
   				<a href="../component/monitor">Monitor</a>
   				<a href="../component/opticaldrive">Optical Drive</a>
    			<a href="../component/speaker">Speaker</a>
   				<a href="../component/mice">Mouse</a>
   				<a href="../component/keyboard">Keyboard</a>
 			 </div>
		</div>
      	<button class="dropbtn"><a href="#">About</a></button>
      	
		
		
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-right">
        <li>
        	<a href="/home/cart"><i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i> Shopping Cart
        		 <span class="badge"><%= session.cart.totalQty %></span>
        	</a>

        </li>
         <li><a href="<%= session.home.login %>"><i class="glyphicon glyphicon-user" aria-hidden="true"></i> <%= session.home.user %></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
   
</nav>



<div class="container">
	  
	<% for(var i = 0; i < pcList.length; i++) { %>
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="<%= pcList[i].img_path %>" class="img-responsive">
				<div class="caption">
					<h3> <%= pcList[i].model %></h3>
					<p class="description">
						<b>CPU:</b> <%= pcList[i].cpu %>,</p>  
						<p class="description">
						<b>CPU Cooler:</b> <%= pcList[i].cooler %></p>  
						<p class="description">
						<b>Motherboard:</b> <%= pcList[i].motherboard %>,</p>  
						<p class="description">
						<b>Ram:</b> <%= pcList[i].memory %>,</p>  
						<p class="description">
						<b>Storage:</b> <%= pcList[i].storage %>,</p>  
						<p class="description">
						<b>Graphics Card:</b> <%= pcList[i].gpu %>,</p>  
						<p class="description">
						<b>Power Supply:</b> <%= pcList[i].psu %>,</p>  
						<p class="description">
						<b>Casing:</b> <%= pcList[i].casing %>,</p>  
						<p class="description">
						<b>Monitor:</b> <%= pcList[i].monitor %>
					</p>  
				</div>
				<div class="clearfix">
					<div class="price pull-left">৳<%= pcList[i].price %> </div>
					<a href="/home/add-to-cart/<%= pcList[i].id%>/PC" class="btn btn-default pull-right" role="button">Add to cart</a>			
				</div>
			</div>
		</div>
		<% } %>


	<nav aria-label="Page navigation" >
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
	
</div>
</body>
</html>